* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*En los siguientes estilos podemos ver que le estamos aplicando estilos a la misma etiqueta
la cual es h1 pero con su etiqueta principal, con una clase y un id definidos, esto con el fin
de poder detallar la especifidad, para ver de una manera mejor el código lo recomedable es abrir
el navegador y el inpector de elemento y analizar los estilos que obtiene la etiqueta y los que
se le aplican por especifidad*/
h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

#page-title {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 18px;
    font-family: monospace;
}

#main-nav {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog {
    background-color: red;
}
/*Encontramos que esta tipo de estilo no se esta tomando ya que la etiqueta cuenta con 
estilos en la hoja de html y esto se llama estilos enbevidos y tienen prioridad sobre los 
estilos realizados por clases o id, para entender mejor la situación y ver que nuestro navegador
si lee todos las líneas de nuestro código es mejor ingresar al inpector de elementos y tocar
la etiqueta, esto da de una forma visual el tema que estamos tratando el día de hoy*/