/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/

.blog-element {
    background-color: rgb(65, 170, 65);
    margin: 10px;
    padding: 20px;
}
/*Los estilos a la etiqueta div, la cual mantiene un display block y no permite ser muy
manejable ya que el texto que se tenga en ella siempre va tomar el 100% del espacio sin ser usado
esto causa que si el texto es corto ya no se pueda escribir al lado de el si no saltar de línea*/
.nav {
    background-color: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}

/*Podemos notar que le indicamos nuestra barra de navegación un display inline-block, lo que 
permite que se aproveche los campos o espacios definidos, aunque tampoco permite poner
margin encima ni abajo del container creado por la etiqueta.*/