html{
    font-size: 75%;
    font-family: verdana;
}

h1{
    font-size: inherit;
}
/*con el atributo inherit lo que indicamos es que herede el valor en este caso de HTMl que 
es la etiqueta en la cual indicamos que cogiera un tamaño de letra*/