* {
    box-sizing: border-box;/*con esto recalculamos lo de paddin y border*/
    padding: 0;
    margin: 0;
}
/*Con este campo de estilos organizamos que nuestra caja obtenga el 100% de la caja y no registre 
con scroll, lo que hacemos es con todos atributos es que se acomode todos los componentes de forma
automática si son modificados*/
main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}
/*Le ponemos estilos a la caja main en la mostramos los atributos que por defecto son transparentes
y miramos diferentes atributos*/